<div class="w-[900px] mx-auto my-auto mt-5">
    <div class="item-box flex justify-between align-center">
        <div class="flex items-center justify-center">
            <div class="relative">
              <input
                type="text"
                class="border-2 border-gray-300 bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
                placeholder="Search"
              />
              <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
                <search-icon></search-icon>
              </button>
            </div>
          </div>
        <div class="relative">
            <button class="py-2 px-6 w-[150px] h-[50px] rounded text-white bg-yellow-500 hover:bg-yellow-700"></button>
            <div class="text-white absolute top-[12px] left-[30px] flex justify-between align-center">
                <add-icon></add-icon>
                <span>Add Unit</span>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-8">
        <table class="min-w-full text-gray-400 border-gray-300 border-collapse">
          <thead>
            <tr>
              <th class="border-b font-light flex justify-center align-center">
                <input type="checkbox" name="" id="">
                <span>Unit Icon</span>
              </th>
              <th class="border-b font-light">Unit Title</th>
              <th class="border-b font-light">Connected Status</th>
              <th class="border-b font-light">IMEI</th>
              <th class="border-b font-light">Tags</th>
              <th class="border-b font-light">Last Point Time</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      
        <div class="flex justify-start mt-4">
          <span class="text-gray-400">Page</span>
          <input type="number" class="w-[40px] border border-gray-400 rounded ml-2" name="" id="">
          <span class="text-gray-400 ml-2">of 2</span>
        </div>
    </div>
</div>
