<div class="flex justify-center align-center ml-2">
    <mat-icon aria-hidden="false" [ngClass]="leftIsClicked ? 'bg-yellow-500' : 'transparent'" class="text-gray-400 rounded" (click)="arrowLeftHandler()" aria-label="Example keyboard_arrow_left icon" fontIcon="keyboard_arrow_left"></mat-icon>
    <mat-icon aria-hidden="false" [ngClass]="rightIsClicked ? 'bg-yellow-500' : 'transparent'" class="text-gray-400 rounded" (click)="arrowRightHandler()" aria-label="Example keyboard_arrow_right icon" fontIcon="keyboard_arrow_right"></mat-icon>
</div>